/**
 * Global Stylesheet for geekchicprogramming.com
 *
 */


body {
    background-color: #dddddd;
    color: #394240;
    font-size: 16px;
    line-height: 1.5;
    font-family: Palatino, Constantia, "Palatino Linotype", "Book Antiqua", serif;
}

h2, h3, h4, h5, h6 {
    font-family: "bebas-neue", Arial, sans-serif;
    text-transform: uppercase;
}

div.hero-unit {
    background-color: #333;
    color: #FF3E96;
}

div#wrapper {
    background-color: #FEFEFE;
    border: 1px solid #CCC;
    margin: 20px auto;
    padding: 10px;
    min-height: 300px;
}

div#main {
    margin-bottom: 10px;
}

div#footer {
    font-size: .75em;
}

div#footer a {
    color: inherit;
    text-decoration: none;
}

div#footer a:hover {
    color: #eeeeee;
    text-decoration: underline;
}

div.stretch {
    padding: 40px 0;
}

div.stretch-black {
    background-color: #000000;
    border-top: 1px;
    border-top-color: #444444;
    border-top-style: solid;
    color: #999999;
}

div.stretch-charcoal {
    background-color: #222222;
    border-top: 1px;
    border-top-color: #111240;
    border-top-style: solid;
    color: #999999;
}

ul.legal-nav li {
    display: inline;
    padding: 0 4px;
}

div.legal-nav li.sep {
    font-size: 1.2em;
}

dl.dl-schedule dt {
    width: 70px;
}

dl.dl-schedule dd {
    margin-left: 90px;
}

aside.controls {
    bottom: 40px;
}
