{% extends 'base.html' %}

{% block navbar %}

{% endblock %}

{% block body %}
<div class="container login-container">    
    <div class="row">
    <div class="span6 offset3">
        <div class="row">
            <div id="alerts" class="span6">
                {% if form.non_field_errors %}
                {% for error in form.non_field_errors %}
                <div class="alert alert-error">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {{ error }}
                </div>
                {% endfor %}
                {% endif %}
            </div>
        </div>

        <div class="row" id="login-box">
            <div class="span6">
                <form method="post" action="" class="form-horizontal">
                    <div class="form-header">
                        <h3>Login to GeekChic</h3>
                    </div>
                    {% for field in form %}
                    <div class="control-group{% if field.errors %} error{% endif %}">
                        <label for="{{ field.id_for_label }}" class="control-label">{{ field.label }}</label>
                        <div class="controls">
                            {{ field }}
                            {% if field.errors %}
                            {% for error in field.errors %}
                            <span class="help-inline">{{ error }}</span>
                            {% endfor %}
                            {% else %}
                            <span class="help-inline"></span>
                            {% endif %}
                            <p class="help-block">{{ field.help_text }}</p>
                        </div>
                    </div>
                    {% endfor %}
                    <div class="form-actions">
                        <a class="pull-left" href="{% url "PasswordResetView" %}">Forgot Password?</a>
                        <button class="btn pull-right" type="submit">Login</button>
                        {% csrf_token %}
                    </div>
                </form>
            </div>
        </div>
    </div>
    </div>
</div>
{% endblock %}

{% block footer %}

{% endblock %}
