{% extends "base.html" %}

{% block main %}
	
	<div class="container">
		<div class="row">
			<div class="horizontal-divider span12" style="background-color: #FFF;"></div>

	    	<div class="span12 grey-box">
	    		<div class="hero-block3">
	    			<div class="row show-grid">
	    				<div class="span9">
	    					<div class="hero-content-3">
	    						<h2>Password Reset!</h2>
			      				<p>Ok, we've reset your password-- an email is winging its way to you right now with a link that will prove you are who you say you are and allow you to reset the password. If you don't get the email, or for some reason you aren't able to reset your password, please try resetting it again.</p>
			      			</div>
			      		</div>
			      		<div class="span3">
			      			<div class="tour-btn">
			      				<a class="btn btn-inverse" href="{% url 'PasswordResetView'%}">Retry Reset</a>
			      			</div>
			      		</div>
			      	</div>
			    </div>
			</div>
			
			<div class="horizontal-divider span12" style="background-color: #FFF;"></div>
		</div>
    </div>
{% endblock %}
