{% extends "base.html" %}

{% block main %}
	
	<div class="container">
		<div class="row">
			<div class="horizontal-divider span12" style="background-color: #FFF;"></div>

	    	<div class="span12 grey-box">
	    		<div class="hero-block3">
	    			<div class="row show-grid">
	    				<div class="span9">
	    					<div class="hero-content-3">
	    						<h2>Password Changed!</h2>
			      				<p>Your password has been successfully changed, and you have finished resetting it! Now that we've finished that up, you can go ahead and log in to the student section.</p>
			      			</div>
			      		</div>
			      		<div class="span3">
			      			<div class="tour-btn">
			      				<a class="btn btn-inverse" href="{% url 'LoginView'%}">Login</a>
			      			</div>
			      		</div>
			      	</div>
			    </div>
			</div>
			
			<div class="horizontal-divider span12" style="background-color: #FFF;"></div>
		</div>
    </div>

{% endblock %}
