{% extends 'page.html' %}
{% load profiletags %}

{% block title %} GeekChic | {{ student.full_name|title }}{% endblock %}

{% block stylesheet %}
    {{ block.super }}
    <style type="text/css">
        p.tagline {
            margin-top: -12px;
            margin-bottom: 8px;
        }

        ul.profile-links {
            margin: 0;
            padding: 0;
        }

        ul.profile-links li {
            margin: 0 2px 4px 0px;
            padding: 0;
        }

        .profile-links [class^="icon-"],
        .profile-links [class*=" icon-"] {
            display: inline-block;
            width: 22px;
            height: 22px;
            line-height: 22px;
            background-position: 0 0;
            background-repeat: no-repeat;
            background-size: 22px 22px;
        }

        .profile-links [class^="icon-"]:before,
        .profile-links [class*=" icon-"]:before {
            content: "";
        }

        div#profileMeta>div {
            margin-top: 10px;
            background-color: #f5f5f5;
        }

        div#profileMeta ul {
            padding: 10px 10px 0;
        }
    </style>
{% endblock %}

{% block breadcrumb %}
        <ul>
            <!-- Add your breadcrumb navs as listitems here -->
            <li class="home"><a href="/">Home</a></li>
            <li>Accounts</li>
            <li>{{ student.full_name }}</li>
        </ul>
{% endblock %}

{% block article %}

    <div class="row" id="profile">
        <div class="span2">
            <img class="img-polaroid" alt="Gravatar" src="{{ student.gravatar }}" />
            <ul class="inline unstyled profile-links">
                {% for link in student.profile.links.all %}
                <li><a href="{{ link.href }}" title="{{ link.get_target_display }}"><i class="icon-{{ link.get_css_class }}"></i></a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="span7">
            <h1>{{ student.full_name }}</h1>
            <p class="tagline">{{ student.profile.shortbio }}</p>
            {% if student.profile.biography %}
            <p>{{ student.profile.biography }}</p>
            {% else %}
            <p>No Biography Yet</p>
            {% endif %}
        </div>
    </div>

    {% block profileMeta %}
    <div class="row" id="profileMeta">
        <div class="span9">
            <ul class="inline unstyled">
                <li><i class="icon-user"></i> {{ student.username }}</li>
                <li><i class="icon-envelope"></i> {{ student.email }}</li>
                <li><i class="icon-time"></i> Joined: {{ student.date_joined|date }}</li>
            </ul>
        </div>
    </div>
    {% endblock %}

{% endblock %}

{% block sidebar %}
    <!-- ADD SIDEBAR WIDGETS HERE -->
    {% block accountManagement %}
        {% include 'account-sidebar.html' %}
    {% endblock %}

    {% if student.get_author.entries_published %}
    <!-- Latest Posts -->
    <div class="sidebar-news-widget sidebar-block">
        <h2>Recent Posts</h2>
        {% get_author_entries %}
    </div>
    {% endif %}

{% endblock %}
