{% extends 'base.html' %}

{% block title %}GeekChic | {{ presentation }}{% endblock %}

{% block main %}
    
<div id="main" class="container">
    <div class="row">
        <div class="span10 offset1">
            <div class="page-header">
                <h2>{{ presentation }}</h2>
                <ul class="breadcrumb">
                    <li><a href="{% url 'syllabus' %}">{{ name }}</a> <span class="divider">&middot;</span></li>
                    <li class="active">Presentation <span class="divider">&middot;</span></li>
                    <li><a href="{% url 'module' module=module doctype='workshop' %}">Workshop</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="span10 offset1">
        {% block content %}
        <p>TODO: Write</p>
        {% endblock %}
        </div>
    </div>
</div>

{% endblock %}
