{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}GeekChic | {{ presentation }}{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'css/reveal.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/serif.css' %}" type="text/css" id="theme">
{% endblock %}


{% block body %}

        <div class="reveal">
            <div class="slides">
                <section>
                    <h2>{{ name }}</h2>
                    <h3>{{ presentation }}</h3>
                </section>
                {% block slides %}
                <section>
                    <p>TODO: Add more slides!</p>
                </section>
                {% endblock %}
            </div>
        </div>

{% endblock %}

{% block footer %}
    
    <div class="navbar navbar-inverse navbar-fixed-bottom">
        <div class="navbar-inner">
            <div class="container">
                <a class="brand" href="{% url 'syllabus' %}">{{ presentation }}</a>
                <ul class="nav pull-right">
                    <li class="active"><a href=".">Presentation</a></li>
                    <li><a href="{% url 'module' module=module doctype='workshop' %}">Workshop</a></li>
                </ul>
            </div>
        </div>
    </div>

{% endblock %}


{% block javascript %}
    <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/head.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/reveal.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            Reveal.initialize();
        });
    </script>
{% endblock %}
