{% extends 'base.html' %}

{% block title %}GeekChic | Workshops {% endblock %}

{% block main %}
    <div id="main" class="container">
        <div class="row">
            <div class="span10 offset1">
                <div class="page-header">
                    <h2>GeekChic Workshops</h2>
                    <p class="lead pull-left">'Get GeekChic' Programming Workshop for Women</p>
                    <a class="pull-right btn btn-info" href="{% url 'syllabus' %}">Syllabus</a>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="span10 offset1">
                <p>The GeekChic workshop will provide a comfortable environment for women to 
                network, learn about computer programming, and see if computer science may be 
                a field you’re interested in pursuing. In just one weekend, we’ll introduce 
                Python, demonstrate the command line, and start coding! This is our 
                inaugural/test workshop, so we'll be asking for feedback along the way.</p>

                <p><strong>Friday 4/19, 6:30-8:30 PM:</strong> Plan on coming in to get 
                everything installed on your computer. We'll provide some drinks and an 
                opportunity for everyone to get to know each other.</p>


                <p><strong>Saturday 4/20, 9:00 AM - 4:00 PM:</strong> Instruction and guided 
                practice as you test out your spiffy new computer skillz. We'll provide lunch, 
                and we'd love it if you could join us for drinks and share your feedback with 
                us after the workshop.</p>

                <h3>Location:</h3>
                <address>
                Threespot Media<br />
                3333 14th St NW<br />
                Washington D.C., DC 20010
                </address>

                <p>A special thanks to Threespot  for sponsoring the venue for this workshop 
                -- please let me know if you or your company would like to sponsor the next 
                GeekChic workshop.</p>

                <h3>What to Bring?</h3>
                <p>Your laptop and a desire to learn something new!</p>

                <h3>Who's Teaching?</h3>
                <p><em>Benjamin Bengfort</em></p>

                <p>All around nice guy with two sisters and a baby girl who are the absolute 
                bomb. He has developed Python applications for the past 8 years for publishers, 
                intelligence agencies, and startups. He can count the girls in his graduate 
                cohort on one hand but knows that all it takes to code is a little imagination 
                (no matter what the movies say).</p>

                <p><em>Dr. Jesse English</em></p>
                <p>Serious sometimes, always ready with a compliment- Jesse's beard makes him 
                look rougher than he actually is; but it's the product of being a veteran of 
                true science in the computational linguistics lab at UMBC. Jesse's focus is in 
                developing Java applications, but he's a hand at User interface design and 
                mobile development. Jesse gets to the heart of your questions leading to a 
                solution rather than proscribing one.</p>

                <h3>Cost</h3>
                <p>$20</p>
                <p>(We are running this test workshop at cost, so this payment will go directly 
                towards teachers, lunch, and drinks)</p>

                <h3>Why should <em>YOU</em> learn to program?</h3>
                <p>GeekChic Programming encourages women to transform technology by applying 
                the skills they learn in our programming workshops and classes to explore 
                innovative solutions to real-world problems. Over the last three years, 
                President Obama has continued to emphasize the importance of STEM in education 
                reform. The White House is committed to expanding STEM education and career 
                opportunities for underrepresented groups, including women and girls, and the 
                global job marketplace shows that these technical skills are in extremely high 
                demand. There is a demonstrated need for women in the fields of science, 
                technology, engineering, and math, and software is at the center of every STEM
                project.</p>

                <p>We hope you can make it! Please contact 
                <a href="mailto:geekchicpro@gmail.com">Josie Keller &lt;geekchicpro@gmail.com&gt;</a>
                with questions or to sign up.</p>

            </div>
        </div>
        
    </div>
{% endblock %}
