{% extends 'base.html' %}

{% block title %}GeekChic | Workshop Syllabus{% endblock %}

{% block main %}
    <div id="main" class="container">
        <div class="row page-header">
            <div class="span12">
                <h2>Workshop Syllabus</h2>
            </div>
        </div>

        <div class="row">
            <div class="span12">
                <h3>Friday Evening</h3>

                <h3>Saturday Morning</h3>

                <h3>Saturday Afternoon</h3>
            </div>
        </div>
    </div>
{% endblock %}
