{% extends 'events-base.html' %}

{% block event_breadcrumb %}
                <li>GeekChic Fellowships</li>
{% endblock %}

{% block content %}

    <h1>10 Week Fulltime Fellowship</h1>
    <p class="lead">We'll change your career, and your life. Over the course of ten weeks our expert instructors will guide you to becoming a professional programmer. When it's over, the best companies in the area are lined up to interview you! Get ready... you won't be the same!</p>

    <h2>Fulltime GeekChic Fellowships</h2>
    <p>The 10-week fellowship program is designed for women pursuing the technical skills to drive a career change or launch their own business. GeekChic Programming lays the foundation for understanding development and technology in a more general sense and prepares students to enter the technology industry and continue learning new things, as all good developers do. At the end of the program, each cohort of lady coders has the skills they need to land job offers from local start-ups, existing organizations, and government contractors looking to expand their technology teams.</p>

    <div class="alert alert-note">
        <h2>Stay Tuned!</h2>
        <p class="text-inverse">We're currently setting up registrations to the Fellowship, which we hope to start in September. We're looking for teachers and students. If you're interested in teaching please <a href="{% url 'contact' %}">get in touch!</a> Additionally, if you are interested in the ten week course, we will soon have an application up. For more details, or to let us know you'd like to particpate, please also <a href="{% url 'contact' %}">contact us!</a></p>
    </div>

    <hr />

    <h2>Why should YOU learn to program?</h2>
    <p>GeekChic Programming encourages women to transform technology by applying the skills they learn in our programming workshops and classes to explore innovative solutions to real-world problems. Over the last three years, President Obama has continued to emphasize the importance of STEM in education reform. The White House is committed to expanding STEM education and career opportunities for underrepresented groups, including women and girls, and the global job marketplace shows that these technical skills are in extremely high demand. There is a demonstrated need for women in the fields of science, technology, engineering, and math, and software is at the center of every STEM project.</p>

{% endblock %}