{% autoescape off %}

Hello {{ user.first_name|capfirst }} {{ user.last_name|capfirst }}, 

This is the GeekChic Server, I run the website at {{ site_name }}, and I'm so excited to hear from you! 

I'm sorry that you've forgotten your password, but don't worry, we'll get it taken care of straight away. In case you were wondering, you're receiving this email because you requested a password reset for your user account at {{ site_name }}. So here's how we'll sort it all out:

Please go to the following page and choose a new password:

{% block reset_link %}
{{ protocol }}://{{ domain }}{% url "PasswordResetConfirmView" uidb36=uid token=token %}
{% endblock %}

This super special link contains information that's only for you-- so don't share it with anyone! (Also, it expires in a couple days). If the link above isn't highlighted, then go ahead and copy and paste it into a browser address bar, and it should work.

Your username, in case you've forgotten: {{ user.username }}

Once you've changed your password, feel free to login and you're good to go! If you didn't request this password reset, then that would be quite concerning, please contact my wonderful systems administrators for some help with that-- at the very least, we can ensure that your account is secure. 

My Kindest Wishes, 
The GeekChic Server

{% endautoescape %}
