{% extends "base.html" %} 
{% load staticfiles %}

{% block title %}Server Error | GeekChic Programming{% endblock %}

{# Git rid of Header, Twitter Bar,  and Footer #}

{% block header %}{% endblock %}
{% block twitterbar %}{% endblock %}
{% block footer %}{% endblock %}

{% block main %}

    <div class="container">
        <div class="row">
            <div class="span6 broken">
                <div class="shift-down">
                    <img src="{% static 'img/error.png' %}" alt="Not Found" style="margin-top:40px;" />
                </div>
            </div>
            <div class="span6 broken">
                <div class="shift-down">
                    <a class="logo" href="/">
                        <img alt="logo" title="geekchic" src="{% static 'img/geekchic_logo.png' %}" />
                    </a>
                    <h1>Bad Things!</h1>
                    <p>Oh noes! This is embarassing, but we tripped up and our server is having some
                    issues.</p>
                    <p>We promise that a very long email has been sent to our system administrators
                    with a lot of code-type stuff in it, and we're going to fix things up right away!</p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascript %}
    <!-- No JavaScript Required on this Page -->
    {% include "analytics.html" %}
{% endblock %}
