{% load staticfiles %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>{% block title %}GeekChic Programming{% endblock %}</title>
    <meta name="author" content="{% block author %}Josie Keller{% endblock %}">
    <meta name="keywords" content="{% block keywords %}GeekChic, Programming, Women, Academy, Learning, Fellowship{% endblock %}">
    <meta name="description" content="{% block description %}A Programming Academy for Women.{% endblock %}">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
    	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    {% block shortcut_icon %}
    <!-- Shortcut Icons -->
    <link rel="shortcut icon" href="/favicon.png">
    {% endblock %}

    {% block stylesheet %}
        <!-- CSS : implied media="all" -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/isotope.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/color_scheme.css' %}" />
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,700,700italic" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome-ie7.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/flexslider.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/jquery.fancybox.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/geekchic.css' %}" />

        <!--[if lte IE 8]>
            <link rel="stylesheet" type="text/css" href="{% static 'css/IE-fix.css' %}" />
        <![endif]-->
    {% endblock %}

</head>
<body>    
{% block body %}

    {% block topline %}
    <!-- The line at the top of the page -->
    <div class="top_line"></div>
    {% endblock %}

    {% block header %}
        {% include 'header.html' %}
    {% endblock %}

    {% block main %}

    {% endblock %}

    {% block twitterbar %}
        {% include 'twitterbar.html' %}
    {% endblock %}

    {%  block footer %}
        {% include 'footer.html' %}
    {% endblock %}

{% endblock %}

{% block modals %}
    <!-- Optional extra block for adding hidden HTML elements -->
{% endblock %}

{% block javascript %}
    <!-- JavaScript at the bottom of the page for faster loading -->
    <script type="text/javascript" src="{% static 'js/jquery-1.7.2.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.flexslider-min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.isotope.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.fancybox.pack.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/custom.js' %}"></script>

    {% include "analytics.html" %}
{% endblock %}

</body>
</html>
