<div class="stretch stretch-black">
    <div id="footer" class="container">
        <div class="row">
            <div class="span6">
                <p class="copyright">&copy; 2013 <a href="http://geekchicprogramming.com">GeekChic</a>, All Rights Reserved<br />
                </p>
            </div>
            <div class="span6">
                <ul class="unstyled legal-nav">
                    <li><a href="#">privacy</a></li>
                    <li class="sep">&middot;</li>
                    <li><a href="#">terms of use</a></li>
                    <li class="sep">&middot;</li>
                    <li><a href="#">contact</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
