{% load staticfiles %}

    <!-- Header Area -->
    <header>
        <div class="container">
            <!-- Logo Area -->
            <div class="row">

                <div class="span4 logo">
                    <a class="logo" href="/">
                        <img alt="logo" title="geekchic" src="{% static 'img/geekchic_logo.png' %}" />
                    </a>
                </div>
                <div class="span4 offset4">
                    <p class="head_phone">Programming Academy for Women</p>
                    <ul class="socials unstyled">
                        <li><a class="twitter" href="http://twitter.com/geekchicpro"></a></li>
                        <li><a class="facebook" href="http://facebook.com/geekchicpro"></a></li>
                        <li><a class="youtube" href="#"></a></li>
                    </ul>
                </div>

            </div>
            
            <!-- Primary Navigation -->
            <div class="container">
                <div class="navbar">
                    <div class="navbar-inner">
                        <div class="container">
                            <div class="buttons-container">

                            </div>
                            <div class="nav-collapse">
                                <ul class="nav nav-pills">
                                    <li class="active single"><a href="/">HOME
                                        <i>geekchic home</i>
                                    </a></li>
                                    <li class="dropdown">
                                        <a class="dropdown-toggle" data-toggle="dropdown" href="#programsMenu">
                                            PROGRAMS
                                            <i>find your fit</i>
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li><a href="#">Get GeekChic</a></li>
                                            <li><a href="#">Code GeekChic</a></li>
                                            <li><a href="#">10-Week Fellowship</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown">
                                        <a class="dropdown-toggle" data-toggle="dropdown" href="#studentsMenu">
                                        STUDENTS
                                        <i>materials and more</i>
                                        </a>
                                        <ul class="dropdown-menu">
                                        </ul>
                                    </li>
                                    <li class="single"><a href="/">BLOG
                                        <i>chic thoughts</i>
                                    </a></li>
                                    <li class="dropdown">
                                        <a class="dropdown-toggle" data-toggle="dropdown" href="#aboutMenu">
                                        ABOUT
                                        <i>meta chic</i>
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li><a href="#">About Us</a></li>
                                            <li><a href="#">Our Team</a></li>
                                            <li><a href="#">Philosophy</a></li>
                                            <li><a href="#">FAQ</a></li>
                                        </ul>
                                    </li>
                                    <li class="single"><a href="/">CONTACT
                                        <i>get in touch</i>
                                    </a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
