{% extends 'base.html' %}

{% block main %}

      <div class="hero-unit">
        <h2>Women Transforming Technology</h2>
        <p class="lead">Disrupting the traditional STEM-trained workforce by training creative, insightful women who will catalyze innovation.</p>
        <!-- <p><a href="#" class="btn btn-primary btn-large">Learn more &raquo;</a></p> -->
      </div>

      <!-- Example row of columns -->
      <div class="row">
        <div class="span4">
          <h3>'Get GeekChic' Programming Workshops</h3>
          <p>These weekend workshops target potential GeekChic Programming students seeking an introduction to code. The all-female demographic provides a comfortable environment for women to network, learn about computer programming, and see if computer science may be a field they’re interested in pursuing - all without the traditional barriers to entry. In just one weekend, we’ll introduce a new development skill, demonstrate the command line, and start coding!</p>
          <!-- <p><a class="btn" href="#">View details &raquo;</a></p> -->
        </div>
        <div class="span4">
          <h3>'Code GeekChic' Programming Bootcamps</h3>
          <p>Our two-week bootcamps are designed as more advanced workforce training programs for women actively seeking a leg up in their field. Participants should come prepared to dive into the Linux Terminal, Python, Databases, Django, HTML, CSS, WordPress, and JavaScript with a focus on design and development of a complete web application. By the end of bootcamp, you will have a snazzy new program to show off your freshly honed programming skills.</p>
          <!-- <p><a class="btn" href="#">View details &raquo;</a></p> -->
       </div>
        <div class="span4">
          <h3>GeekChic Programming Fellowship</h3>
          <p>The 10-week fellowship program is designed for women pursuing the technical skills to drive a career change or launch their own business, GeekChic Programming lays the foundation for understanding development and technology in a more general sense and prepares students to enter the technology industry and continue learning new things, as all good developers do. At the end of the program, each cohort of lady coders has the skills they need to land job offers from local start-ups, existing organizations, and government contractors looking to expand their technology teams.</p>
          <!-- <p><a class="btn" href="#">View details &raquo;</a></p> -->
        </div>
      </div>

{% endblock %}
