{% extends 'base.html' %}
{% load staticfiles %}

{% block stylesheet %}
        {{ block.super }}
        <link rel="stylesheet" type="text/css" href="{% static 'rs-plugin/css/settings.css' %}" media="screen" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/rs-responsive.css' %}" media="screen" />
{% endblock %}

{% block main %}

    <!-- MAIN CONTENT -->
    <div class="main-content">
        <div class="container">
            <div class="bannercontainer">
                <div class="banner">
                    <!-- SLIDER BANNER -->
                    <ul>
                        <li class="slide3" data-transition="boxfade"
                                           data-slotamount="5"
                                           data-masterspeed="300">

                            <img alt="" src="{% static 'img/slider00.png' %}" />
                            <div class="caption sfl carousel-caption" data-x="0" data-y="40"
                                data-speed="1000" data-start="500" data-easing="easeInBack"
                                style="background: none; padding-left: 0;">

                                <p class="big" style="padding: 10px 10px 10px 43px;">Women Transforming Technology</p>

                            </div>

                            <div class="caption sfl carousel-caption" data-x="0" data-y="120"
                                data-speed="1000" data-start="1000" data-easing="easeInBack"
                                style="background: none; padding-left: 0; width: 40%;">

                                <p class="small" style="font-size: 1.2em;">Disrupting the traditional STEM-trained
                                workforce by training creative, insightful women who will catalyze innovation.</p>

                            </div>

                            <div class="caption sfl carousel-caption" data-x="0" data-y="200"
                                data-speed="1000" data-start="1500" data-easing="easeInBack"
                                style="background: none; padding-left: 0; width: 40%;">

                                <p class="small" style="font-size: 1.2em;">Coding requires imagination; Development
                                teams are looking for new ideas; will you join them?</p>

                            </div>


                        </li>
                        <li class="slide2" data-transition="slideleft"
                                           data-slotamount="10"
                                           data-masterspeed="300">

                            <img alt="" src="{% static 'img/slider01.jpg' %}" />

                            <div class="caption sft carousel-caption" data-x="40" data-y="262"
                                data-speed="1000" data-start="1000" data-easing="easeInBack"
                                style="background: none;">

                                <p class="big">Save the Date!</p>

                            </div>

                            <div class="caption sfl carousel-caption" data-x="0" data-y="300"
                                data-speed="1000" data-start="1000" data-easing="easeInBack"
                                style="background: none; padding-left: 0; width:100%;">

                                <p class="big">The next GeekChic Programming Workshop is on June 1!</p>

                            </div>


                        </li>
                    </ul>
                    <div class="tp-bannertimer"></div>
                </div>
            </div>

            <div class="row show-grid main-block">
                <div class="horizontal-divider span12" style="background-color: #FFF;"></div>
                <div class="span12 grey-box">
                    <div class="hero-block3">
                        <div class="row show-grid">
                            <div class="span9">
                                <div class="hero-content-3">
                                    <h2>Sign up for email notifications</h2>
                                    <p>We are working to put together a great calendar of workshops, bootcamps, and fellowships.
                                    If you'd like to be the first to know about an upcomming class or seminar, sign up to receive
                                    emails when we schedule them!</p>
                                </div>
                            </div>
                            <div class="span3">
                                <div class="tour-btn">
                                    <a href="#followForm" role="button" class="btn btn-inverse" data-toggle="modal">Sign Up!</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row main-block">
                <div class="horizontal-divider span12" style="background-color: #FFF;"></div>
                <div class="span12">
                    <div class="title-wrapper">
                        <h2>Three Excellent Programs</h2>
                    </div>
                    <div class="clear-both"></div>
                    <div class="row">
                        <div class="span4">
                            <p class="lead">Programming Workshops</p>
                            <h3>Get GeekChic</h3>
                            <p>These weekend workshops target potential GeekChic Programming students seeking an
                            introduction to code. The all-female demographic provides a comfortable environment for
                            women to network, learn about computer programming, and see if computer science may be
                            a field they’re interested in pursuing - all without the traditional barriers to entry.
                            In just one weekend, we’ll introduce a new development skill, demonstrate the command
                            line, and start coding!</p>
                            <p><a href="{% url 'WorkshopSchedule' %}">Details &raquo;</a></p>
                        </div>
                        <div class="span4">
                            <p class="lead">Programming Bootcamps</p>
                            <h3>Code GeekChic</h3>
                            <p>Our two-week bootcamps are designed as more advanced workforce training programs for
                            women actively seeking a leg up in their field. Participants should come prepared to
                            dive into the Linux Terminal, Python, Databases, Django, HTML, CSS, WordPress, and
                            JavaScript with a focus on design and development of a complete web application. By
                            the end of bootcamp, you will have a snazzy new program to show off your freshly honed
                            programming skills.</p>
                            <p><a href="{% url 'BootcampSchedule' %}">Details &raquo;</a></p>
                        </div>
                        <div class="span4">
                            <p class="lead">Programming Fellowships</p>
                            <h3>Fulltime GeekChic</h3>
                            <p>The 10-week fellowship program is designed for women pursuing the technical skills
                            to drive a career change or launch their own business. GeekChic Programming lays the
                            foundation for understanding development and technology in a more general sense and
                            prepares students to enter the technology industry and continue learning new things,
                            as all good developers do. At the end of the program, each cohort of lady coders has
                            the skills they need to land job offers from local start-ups, existing organizations,
                            and government contractors looking to expand their technology teams.</p>
                            <p><a href="{% url 'FellowshipSchedule' %}">Details &raquo;</a></p>
                        </div>
                    </div>
                </div>
                <div class="horizontal-divider span12"></div>

            </div>



            <div class="main-block clients">
                <div class="title-wrapper">
                    <h2>Excellent Sponsors</h2>
                </div>
                <div class="row show-grid">
                    <div class="span12">
                        <div id="clients" class="row show-grid">
                            <div class="span2 hp-wrapper">
                                <a href="http://threespot.com/">
                                <img alt="Threespot" src="{% static 'img/sponsors/threespot.png' %}" />
                                </a>
                            </div>
                            <div class="span2 hp-wrapper">
                                <a href="http://sunlightfoundation.com/">
                                <img alt="Sunlight Foundation" src="{% static 'img/sponsors/sunlightfoundationlogo.png' %}" />
                                </a>
                            </div>
                            <div class="span2 hp-wrapper">
                                <a href="http://istrategylabs.com/">
                                <img alt="iStrategyLabs" src="{% static 'img/sponsors/istrategylabs.png' %}" />
                                </a>
                            </div>
                            <div class="span2 hp-wrapper">
                                <a href="http://www.pyladies.com/">
                                <img alt="PyLadies" src="{% static 'img/sponsors/pyladies.png' %}" />
                                </a>
                            </div>
                            <div class="span2 hp-wrapper">
                                <a href="http://www.cobrain.com/">
                                <img alt="Cobrain" src="{% static 'img/sponsors/cobrain.png' %}" />
                                </a>
                            </div>
                            <div class="span2 hp-wrapper">
                                <a href="http://uberoffices.com/">
                                <img alt="Uber Offices" src="{% static 'img/sponsors/uberoffices.png' %}" />
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



        </div>
    </div>

{% endblock %}

{% block modals %}
    {{ block.super }}
    <div id="followForm" class="modal hide fade">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h3>Get GeekChic Email Notifications</h3>
        </div>
        <div class="modal-body">
            <form class="form-horizontal" action="{% url 'email_signup' %}" method="POST">
                <legend>Be the first to learn about upcoming classes</legend>
                <div class="control-group">
                    <label class="control-label" for="name">Name</label>
                    <div class="controls">
                        <input type="text" name="name" placeholder="Jane Doe" />
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="email">Email</label>
                    <div class="controls">
                        <input type="email" name="email" placeholder="jane@example.com" />
                    </div>
                </div>
                {% csrf_token %}
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn" id="cancelEmailBtn" data-loading-text="Cancel">Cancel</button>
            <button class="btn btn-inverse" id="submitEmailBtn" data-loading-text="Saving...">Submit</button>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'rs-plugin/js/jquery.themepunch.plugins.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'rs-plugin/js/jquery.themepunch.revolution.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/revolution.custom.js' %}"></script>

    <script type="text/javascript">
        jQuery.noConflict();
        (function($) {
            $(document).ready(function() {
                // Bind Email Signup Buttons
                $('#cancelEmailBtn').click(function() {

                    $('#followForm input[type=text]').val('');
                    $('#followForm input[type=email]').val('');
                    $('#followForm').modal('hide');

                });

                $('#submitEmailBtn').click(function() {

                    var controls = $("#followForm div.modal-footer button");
                    var action   = $("#followForm form").attr("action");

                    controls.button('loading');

                    var data = {
                        'name': $('input[name=name]').val(),
                        'email': $('input[name=email]').val(),
                        'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(),
                    }

                    $.post(action, data, function(data) {
                        var note  = $('<div class="alert"></div>');
                        var close = $('<button type="button" class="close" data-dismiss="alert">&times;</button>')
                        note.append(close);

                        if (data.success) {
                            note.append($("<h2>Thanks!</h2> <p>You've been signed up! Check your inbox for an email from us, and make sure to add geekchicpro@gmail.com to your contacts!</p>"));
                            note.addClass("alert-success");
                        } else {
                            note.append($("<h2>Oh No!</h2> <p>Unfortunately, there was a problem saving your email.<br />Have you already registered? Keep in mind both fields are required.</p>"));
                            note.addClass("alert-error");
                        }
                        $("#followForm div.modal-body").prepend(note);
                        controls.button('reset');

                        if (data.success) {
                            setTimeout(function() {
                                $("#followForm").modal('hide');
                            }, 2000);
                        }
                    });
                });

            });
        })(jQuery);
    </script>
{% endblock %}
