{% load staticfiles %}

    <!-- Twitter Bar -->
    <div class="recent-tweets">
        <div class="container">
            <div class="row show-grid">
                <div class="span12 twitter-wrapper">
                    <div id="nav_t"></div>
                    <div class="tweets-slide"><ul class="slides"></ul></div>
                    <a class="follow_img" href="http://twitter.com/geekchicpro"><img src="{% static 'img/follow.png' %}" /></a>
                </div>
            </div>
        </div>
    </div>
