<p>Hello {{ name }},</p> 
<p>Thanks so much for registering for updates about GeekChic Programming!<br />Now you'll be one of the first
to know about our upcoming Workshops, Bootcamps, and Fellowships.</p>

<p><em>Stay tuned for more updates!</em></p>

<p style="font-size:1.1em;"><strong>Other Ways to Follow GeekChic:</strong></p>

<ul>
<li>Follow us on Twiter: <a href="https://twitter.com/geekchicpro/"><strong>@geekchicpro</strong></a></li>
<li>Like us on Facebook: <a href="https://www.facebook.com/geekchicprogramming/"><strong>facebook.com/GeekChicProgramming</strong></a></li>
</ul>

<p>
The GeekChic Team<br />
<a href="http://geekchicprogramming.com">www.geekchicprogramming.com</a><br />
</p>
